<div style="padding-left: 10px; padding-right: 10px">
  <button (click)="click()">asd</button>
  <table class="bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Rol</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Agustin</td><td>Gaillard</td><td>agu@gmail.com</td><td>Chofer</td></tr>
      <tr><td>Darius</td><td>Maitia</td><td>darius@gmail.com</td><td>Pasajero</td></tr>
      <tr><td>Cristian</td><td>Gonzalez</td><td>cristian@gmail.com</td><td>Chofer</td></tr>
      <tr><td>Tomas</td><td>Arjovsky</td><td>tomas@gmail.com</td><td>Pasajero</td></tr>
    </tbody>
  </table>
</div>