<div class="row" style="background-color:#efefef; padding-top:20px">
  <div class="input-field col s2">
    <input id="name" type="text">
    <label for="name">Nombre</label>
  </div>

  <div class="input-field col s2">
    <input id="lastname" type="text">
    <label for="lastname">Apellido</label>
  </div>

  <div class="input-field col s2">
    <input id="mail" type="text">
    <label for="mail">Correo</label>
  </div>

  <div class="col s4" style="margin-top:20px">
    <form action="#">
      <input class="with-gap" name="role" type="radio" id="rolePasajero" checked>
      <label for="rolePasajero">Pasajero</label>
      <input class="with-gap" name="role" type="radio" id="roleChofer">
      <label for="roleChofer">Chofer</label>
    </form>
  </div>

  <div class="col1 offset-s1" style="margin-top:20px">
    <a class="waves-effect waves-light btn blue-grey darken-3">crear</a>
  </div>
</div>
